.center {
  display: flex;
  justify-content: center;
}

.margin-top-15 {
  margin-top: 15%;
}

.margin-top-minus-5 {
  margin-top: -5px;
}

.font-small {
  font-size: small;
}

.cusor-pointer {
  cursor: pointer;
}
